/* /src/assets/style.css */
@import 'normalize.css';
html, body, #app {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}



:root{
  --primarycolor : #EEEEEE;
  --secondarycolor: #000000;
  /* --thirdcolor: #007BF6; */
  --thirdcolor: #0056A0;
  --fourthcolor: #313233;
  /* --fifthcolor: #041C32; */
  --fifthcolor: #03386A;
}